@if (profile()) {
  <div class="profile-card">
    <div class="avatar-name">
      <img 
        [src]="profile().avatarUrl"
        [alt]="profile().firstName + ' ' + profile().lastName"
        class="profile-card__avatar"
      >
      <div class="profile-card__name">
        <h6 class="h6">{{ profile().firstName }} {{ profile().lastName }}</h6>
        <span class="subtitle">{{ profile().username }}</span>
      </div>
    </div>

    <div class="profile-card__decription">
      <p>{{ profile().description }}</p>
    </div>
    
    <div class="profile-card__tags">
      @for (skill of profile().stack; track skill) {
        <div class="skill-tag">{{ skill }}</div>
      }
    </div>

    <div class="profile-card__action-btns">
      <button class="btn">Подписаться</button>
    </div>
  </div>
} @else {
  <p>Профили не найдены</p>
}
