@use "./fonts.scss";

* {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: black;
  --light-color: white;
  --primary-color: #ae7aff;
}

body {
  background-color: var(--dark-color);
  color: white; 
  font-weight: 800;
}

.skill-tag {
  color: var(--light-color);
  font-size: 12px;
  font-weight: 700;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  //margin-right: 4px;
  //line-height: 24px;

  display: inline-block;
  line-height: 1;
  margin: 0 4px 4px 0;

}

.btn {
  background-color: var(--primary-color);
  color: var(--dark-color);
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  line-height: 24px;
  border: none;
}

.h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}